<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<footer>
    <div class="footer-logo">
        <a href="/startseite_pasta">
            <img class="footer-logo" src="/storage/logo_grün2.png" alt="Logo">
        </a>
    </div>
    <div class="footer-links">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/administratorbereich_login">Seite bearbeiten</a>
    </div>
</footer>
</body>
</html>