
<footer>
    <div class="footer-logo">
        <a href="/">
            <img class="footer-logo" src="/storage/logo_grün2.png" alt="Logo">
        </a>
    </div>
    <div class="footer-links">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/administratorbereich_login">Seite bearbeiten</a>
    </div>
</footer>