<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="überschrift">
        <h1>CREATE YOUR OWN PASTA</h1>
        <h2>- BASISPREIS: 5,99€<h2>
    </div>
    <div class="nudeln">
        <h2 class="überschrift_auswahl">NUDELN</h2>
        <h3>- WÄHLE DEINE LIEBLINGSPASTA</h3>
        <div>
            <img id="spaghetti" src="" alt="Ein Bild von Spaghetti." longdesc="Ein Bild von Spaghetti in Herzform." width="" height=""> 
            #width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist.
            <
        </div>
    </div>
</body>
<footer>
    
</footer>
</html>