<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="#" class="aktiv">PASTA-BOWLS></li>
    </header>
    <main class="main">
        <div class="überschrift">
            <h1>CREATE YOUR OWN PASTA</h1>
            <h2 class="überschrift_zusatz">- BASISPREIS: 5,99€</h2>
        </div>
        <div class="nudeln">
            <h2 class="überschrift_auswahl">NUDELN</h2>
            <h3 class="überschrift_zusatz">- WÄHLE DEINE LIEBLINGSPASTA</h3>
            <div class="nudel_auswahl">
                <div class="nudel_sorten" id="nudeln_spaghetti">
                    <img id="spaghetti" src="https://placehold.co/300x200" alt="Spaghetti." longdesc="Ein Bild von Spaghetti in Herzform." width="300" height="200"> 
                    <!--width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist.-->
                    <div class="auswahl">
                        <button class="auswahl_button">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4>Spaghetti</h4>
                        <button class="details">
                            <span class="details_text">Details</span>
                        </button>
                    </div>
                </div>
                <div class="nudeln_sorten" id="nudeln_penne">
                    <img id="penne" src="https://placehold.co/300x200" alt="Penne." longdesc="Ein Bild von Penne in Herzform." width="300" height="200">
                    <div class="auswahl">
                        <button class="details_button">
                            <span class="details_button_text">Details</span>
                        </button>
                        <h4>Penne</h4>
                        <button class="auswahl_button">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    
</footer>
</html>