<!DOCTYPE html>
<html lang="de"> <!-- Sprache der Seite über all auf deutsch! -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo-Adimistratorbereich</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>

    <header class="header">
        @include('pages/partials/header')
        @include ('pages/partials/navigation_administratorbereich')
    </header>

    <main class="main">
        <div class="überschrift">
            <h1>WILLKOMMEN!</h1>
        </div>
        <div class="pasta">
            <h2 class="überschrift_auswahl">NUDELN</h2>
            <div class="produkt_auswahl">

                @each (sorte in pasta)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                    <!-- width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist. -->
                    <div class="auswahl">
                        <h4 class= "produkt_id">{{ sorte.id }}</h4>
                        <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/pasta/{{sorte.id}}'">
                            <span class="bearbeiten_button_text">Bearbeiten</span>
                        </button>                        
                    </div>
                </div>
            @endeach
            </div>
            <div class="hinzufügen_button_mittig">
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/pasta/pasta'">
                    <span class="hinzufügen_button_text">Pasta hinzufügen</span>
                </button>  
            </div>
        </div>

        <div class="soßen">
            <h2 class="überschrift_auswahl">SOẞEN</h2>
            <div class="produkt_auswahl">

                @each (sorte in soßen)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                        <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/saucen/{{sorte.id}}'">
                            <span class="bearbeiten_button_text">Bearbeiten</span>
                        </button>  
                    </div>
                </div>
                @endeach
            </div>
            <div class="hinzufügen_button_mittig">
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/saucen/sauce'">
                    <span class="hinzufügen_button_text">Soße hinzufügen</span>
                </button>
            </div>          
        </div>

        <div class="toppings">
            <h2 class="überschrift_auswahl">TOPPINGS</h2>
            <div class="produkt_auswahl">
                @each (sorte in toppings)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                        <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/toppings/{{sorte.id}}'">
                            <span class="bearbeiten_button_text">Bearbeiten</span>
                        </button>  
                    </div>
                </div>
                @endeach
            </div>
            <div class="hinzufügen_button_mittig">
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/toppings/topping'">
                    <span class="hinzufügen_button_text">Topping hinzufügen</span>
                </button>
            </div>
        </div> 
    </main>

    <footer>
       @include('pages/partials/footer')
    </footer>

</body>
</html>