<!doctype html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo | {{ unterkategorie }} hinzufügen</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>
    <header class="header">    
        @include('pages/partials/header')   
        @include ('pages/partials/navigation')
    </header>
    
    <main class="main">
        <div class="form_container">
            <div class="überschrift_form_container">
                <h1 class="überschrift_form">{{ unterkategorie }} hinzufügen</h1>
            </div>

            @if(error != null) 
            <p class="error_hinweis">{{ error }}</p>
            @endif

            <form class="form" action="/administratorbereich/hinzufuegen/{{oberkategorie}}/{{unterkategorie}}" method="post" enctype="multipart/form-data">
                {{csrfField()}}
                <div class="form_reihe">
                    <label class="form_label" for="name">Name:</label>
                    <input class="form_input" type="text" id="name" name="name" required autofocus>
                </div>

                <div class="form_reihe">
                    <label class="form_label" for="beschreibung">Beschreibung:</label>
                    <input class="form_input" type="text" id="beschreibung" name="beschreibung" required>
                </div>

                <div class="form_reihe">
                    <label class="form_label" for="inhalte">Inhalte:</label>
                    <input class="form_input" type="text" id="inhalte" name="inhalte" required>
                </div>
        
                <div class="form_reihe">
                    <label class="form_label" for="allergene">Allergene:</label>
                    <input class="form_input" type="text" id="allergene" name="allergene" required>
                </div>

                <div class="form_reihe radio_reihe">
                    <label class="formu_label" for="ernaehrungsform">Ernährungsform:</label>
                    <div>
                        <input class="radio_input" type="radio" id="omnivor" name="ernaehrungsform" value="omnivor" required>
                        <label class="radio_label" for="omnivor">Omnivor</label>
                    </div>
                    <div>
                        <input class="radio_input" type="radio" id="vegan" name="ernaehrungsform" value="vegan" required>
                        <label class="radio_label" for="vegan">Vegan</label>
                    </div>
                    <div>
                        <input class="radio_input" type="radio" id="vegetarisch" name="ernaehrungsform" value="vegetarisch" required>
                        <label class="radio_label" for="vegetarisch">Vegetarisch</label>
                    </div>
                </div>

                <div class="form_reihe">
                    <label class="form_label" for="kalorien_pro_100me">Kalorien pro 100g oder ml:</label>
                    <input class="form_input" type="number" id="kalorien_pro_100me" name="kalorien_pro_100me" required>
                </div>

                <div class="form_reihe">
                    <label class="form_label" for="portionsgroesse">Portionsgröße:</label>
                    <input class="form_input" type="number" id="portionsgroesse" name="portionsgroesse" required>
                </div>

                <div class="form_reihe">
                    <label class="form_label" for="kalorien_pro_portion">Kalorien pro Portion:</label>
                    <input class="form_input" type="number" id="kalorien_pro_portion" name="kalorien_pro_portion" required>
                </div>

                @if (oberkategorie != "pasta")
                <div class="form_reihe">
                    <label class="form_label" for="preis">Preis:</label>
                    <input class="form_input" type="number" id="preis" name="preis" required>
                </div>
                @endif

                <div class="form_reihe">
                    <label class="form_label" for="bild">Bild:</label>
                    <p class="bild_hinweis">Bitte nur .png Dateien in Herzform hochladen</p>
                    <input class="form_input" type="file" id="bild" name="bild" required>
                </div>

                <button class="auswahl_button" type="submit">{{ unterkategorie }} hinzufügen</button>
            </form>
        </div>
        <div class="zurück_button_container" onclick="window.history.back();" style="margin-bottom: 10px;">
            <button class="zurück_button">
                <img class="zurück_button_pfeil" src="/storage/pfeil_gelb.png" alt="Ein gelber Pfeil, der nach links zeigt.">
                <span class="zurück_button_text">Zurück</span>
            </button>
        </div> 
    </main>
    <footer>
        @include('pages/partials/footer')
    </footer>  
</body>

</html>
