<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo | Bestellübersicht </title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>
    <h1>Administratorbereich: Bestellungen</h1>

    <ul>
      @each(bestellung in bestellungen)
        <li>
          <strong>ID:</strong> {{ bestellung.id }} <br>
          <strong>Kunde:</strong>   {{ bestellung.kunde_id.vorname }} {{ bestellung.kunde_id.nachname }} <br>
          <strong>Adresse:</strong> {{ bestellung.kunde_id.strasse_nr }}, {{ bestellung.kunde_id.stadt }}, {{ bestellung.kunde_id.postleitzahl }} <br>
          <strong>E-Mail:</strong> {{ bestellung.kunde_id.mail || 'Nicht angegeben' }} <br>
          
          <strong>Warenkorb:</strong>
          <ul>

            @each(item in bestellung.warenkorb)
            <li>
              @if(item.produkt && item.sosseName && item.toppingNamenString) 
                <!-- Falls alle Details vorhanden sind -->
                <strong>Pasta:</strong> {{ item.produkt.pasta_id }} <br>
                <strong>Sosse:</strong> {{ item.sosseName.sossen_id }} <br>
                <strong>Topping:</strong> {{ item.toppingNamenString }} <br>
                <strong>Menge:</strong> {{ item.menge }} <br>
              @else
                <!-- Falls nur die ID vorhanden ist -->
                <strong>Produkt:</strong> {{ item.produkt.produkt }} <br>
                <strong>Menge:</strong> {{ item.menge }} <br>
              @endif
            </li>
          @endeach
          </ul>
        </li>
        <br>
      @endeach
    </ul>
    

</body>
</html>
