<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo | {{produkt.id}} bearbeiten</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="resources/css/allgemein.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>


    <main>
        <div class="product-details">
            <h1 class="details_überschrift">{{ produkt.id }}</h1> <!-- Name des Produkts -->
            <button class="zurück_button" onclick="window.history.back();">
                <span class="zurück_button_text">Zurück</span>
            </button>   
            
            <div class="product-image">
                <img src="{{ produkt.bild }}" alt="{{ produkt.id }} Bild"> <!-- Bild des Produkts -->
            </div>
    
            <p>{{ produkt.beschreibung }}</p> <!-- Beschreibung des Produkts -->
            
            <form action="/administratorbereich/bearbeiten/{{oberkategorie}}/{{produkt.id}}" method="post" enctype="multipart/form-data">
                {{csrfField()}}

                <div>
                    <label for="beschreibung">Beschreibung:</label>
                    <textarea id="beschreibung" name="beschreibung" > {{ produkt.beschreibung }} </textarea>
                </div>
        
                <div>
                    <label for="inhalte">Inhalte:</label>
                    <input type="text" id="inhalte" name="inhalte" value="{{ produkt.inhalte }}">
                </div>
                <div>
                    <label for="allergene">Allergene:</label>
                    <input type="text" id="allergene" name="allergene" value="{{ produkt.allergene }}">
                </div>
                <div>
                    <label for="ernaehrungsform">Ernährungsform:</label>
                      <select id="ernaehrungsform" name="ernaehrungsform">
                        <!--Auswahl durch: Bedingung überprüft, ob  Wert von produkt.ernaehrungsform gleich 'omnivor' etc.
                            wenn wahr: 'selected' zurückgeben, wenn falsch: leeren String zurückgeben -->
                        <option value="omnivor" {{ produkt.ernaehrungsform == 'omnivor' ? 'selected' : '' }}>omnivor</option>
                        <option value="vegetarisch" {{ produkt.ernaehrungsform == 'vegetarisch' ? 'selected' : '' }}>vegetarisch</option>
                        <option value="vegan" {{ produkt.ernaehrungsform == 'vegan' ? 'selected' : '' }}>vegan</option>

                       </select>
                <div>
                    <label for="kalorien_pro_100me">Kalorien pro 100 g/ml:</label>
                    <input type="number" id="kalorien_pro_100me" name="kalorien_pro_100me" value="{{ produkt.kalorien_pro_100me }}">
                </div>
                <div>
                    <label for="portionsgroesse">Portionsgröße:</label>
                    <input type="number" id="portionsgroesse" name="portionsgroesse" value="{{ produkt.portionsgroesse }}">
                </div>
                <div>
                    <label for="kalorien_pro_portion">Kalorien pro Bowl:</label>
                    <input type="number" id="kalorien_pro_portion" name="kalorien_pro_portion" value="{{ produkt.kalorien_pro_portion }}">
                </div>

                @if(oberkategorie !== 'pasta')
                <div>
                    <label for="preis">Preis:</label>
                    <input type="text" id="produkt_preis" name="preis" value="{{ produkt.preis }}">
                </div>
                @endif

                @if(oberkategorie == 'getraenke')
                <div>
                    <label for="art">Art:</label>
                    <select id="art" name="art">
                        <option value="smoothie" {{ produkt.art == 'smoothie' ? 'selected' : '' }}>Smoothie</option>
                        <option value="erfrischungsgetraenk" {{ produkt.art == 'erfrischungsgetraenk' ? 'selected' : '' }}>Erfrischungsgetränk</option>
                        <option value="cocktail" {{ produkt.art == 'cocktail' ? 'selected' : '' }}>Cocktail</option>
                    </select>
                </div>
                @endif

                @if(oberkategorie == 'beilagen')
                <div>
                    <label for="art">Art:</label>
                    <select id="art" name="art">
                        <option value="suppe" {{ produkt.art == 'suppe' ? 'selected' : '' }}>Suppe</option>
                        <option value="salat" {{ produkt.art == 'salat' ? 'selected' : '' }}>Salat</option>
                    </select>
                </div>
                @endif

                <div>
                    <label for="bild">Bild:</label>
                    <input type="file" id="bild" name="bild">
                </div>

                <button type="submit">Änderungen speichern</button>
            </form>

            <form action="/administratorbereich/loeschen/{{oberkategorie}}/{{produkt.id}}" method="post" enctype="application/x-www-form-urlencoded">
                {{csrfField()}}
                <button type="submit" onclick="return confirm('Sind Sie sicher, dass Sie dieses Produkt löschen möchten?')">Löschen</button>
            </form>

        </div>
    </main> 

    <footer>
        @include('pages/partials/footer')
    </footer>  
    
</body>
</html>