<!doctype html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/app.css">
    <title>{{ unterkategorie }} hinzufügen</title>
</head>

<body>
    <h1>{{ unterkategorie }} hinzufügen</h1>

    <form action= "/administratorbereich/hinzufuegen/{{oberkategorie}}/{{unterkategorie}}" method="post" enctype="multipart/form-data">
        {{csrfField()}}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="beschreibung">Beschreibung:</label>
        <input type="text" id="beschreibung" name="beschreibung" required><br><br>

        <label for="inhalte">Inhalte:</label>
        <input type="text" id="inhalte" name="inhalte" required><br><br>
        
        <label for="allergene">Allergene:</label>
        <input type="text" id="allergene" name="allergene" required><br><br>

        <label for="ernaehrungsform">Ernährungsform:</label><br>   <!--Radio-Button dass nutzer eingeschränkt wird-->
        <input type="radio" id="omnivor" name="ernaehrungsform" value="omnivor" required>
        <label for="omnivor">Omnivor</label><br>
        <input type="radio" id="vegan" name="ernaehrungsform" value="vegan" required>
        <label for="vegan">Vegan</label><br>
        <input type="radio" id="vegetarisch" name="ernaehrungsform" value="vegetarisch" required>
        <label for="vegetarisch">Vegetarisch</label><br><br>

        <label for="kalorien_pro_100me">Kalorien pro 100g oder ml:</label> 
        <input type="number" id="kalorien_pro_100me" name="kalorien_pro_100me" required><br><br>

        <label for="portionsgroesse">Portionsgröße:<label> 
        <input type="number" id="portionsgroesse" name="portionsgroesse" required><br><br>

        <label for="kalorien_pro_portion">Kalorien pro Portion:</label>
        <input type="number" id="kalorien_pro_portion" name="kalorien_pro_portion" required><br><br>

        <!--Preis bei pasta nicht benötigt -->
        @if (oberkategorie != "pasta")
        <label for="preis">Preis:</label> 
        <input type="number" id="preis" name="preis" required><br><br>
        @endif

         <!--Bild:  -->
        <label for="bild">Bild:</label>
        <input type="file" id="bild" name="bild" required><br><br>
        

        <button type="submit">{{ unterkategorie }} hinzufügen</button>
    </form>
</body>

</html>
