<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detailansicht</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>

<body>


    <main>
        <div class="produkt-details">
            <h1>{{ produkt.id }}</h1> <!-- Name des Produkts -->
            
            <div class="produkt-image">
                <img src="{{ produkt.bild }}" alt="{{ produkt.id }} Bild"> <!-- Bild des Produkts -->
            </div>
    
            <p>{{ produkt.beschreibung }}</p> <!-- Beschreibung des Produkts -->
            
            <form action="/administratorbereich/bearbeiten/:oberkategorie/:id" method="POST">
                {{csrfField()}}

                <div>
                    <label for="produkt_id">Name:</label>
                    <input type="text" id="produkt_id" name="produkt_id" value="{{ produkt.id }}" >
                </div>
                <div>
                    <label for="produkt_bild">Produkt Bild URL:</label>
                    <input type="text" id="produkt_bild" name="produkt_bild" value="{{ produkt.bild }}">
                </div>
                <div>
                    <label for="produkt_beschreibung">Beschreibung:</label>
                    <textarea id="produkt_beschreibung" name="produkt_beschreibung" > {{ produkt.beschreibung }} </textarea>
                </div>
        
                <div>
                    <label for="produkt_inhalte">Inhalte:</label>
                    <input type="text" id="produkt_inhalte" name="produkt_inhalte" value="{{ produkt.inhalte }}">
                </div>
                <div>
                    <label for="produkt_allergene">Allergene:</label>
                    <input type="text" id="produkt_allergene" name="produkt_allergene" value="{{ produkt.allergene }}">
                </div>
                <div>
                    <label for="produkt_ernaehrungsform">Ernährungsform:</label>
                      <select id="produkt_ernaehrungsform" name="produkt_ernaehrungsform">
                        <!--Auswahl durch: Bedingung überprüft, ob  Wert von produkt.ernaehrungsform gleich 'omnivor' etc.
                            wenn wahr: 'selected' zurückgeben, wenn falsch: leeren String zurückgeben -->
                        <option value="omnivor" {{ produkt.ernaehrungsform == 'omnivor' ? 'selected' : '' }}>omnivor</option>
                        <option value="vegetarisch" {{ produkt.ernaehrungsform == 'vegetarisch' ? 'selected' : '' }}>vegetarisch</option>
                        <option value="vegan" {{ produkt.ernaehrungsform == 'vegan' ? 'selected' : '' }}>vegan</option>

                       </select>
                <div>
                    <label for="produkt_kalorien_pro_100me">Kalorien pro 100 g/ml:</label>
                    <input type="number" id="produkt_kalorien_pro_100me" name="produkt_kalorien_pro_100me" value="{{ produkt.kalorien_pro_100me }}">
                </div>
                <div>
                    <label for="portionsgroesse">Portionsgröße:</label>
                    <input type="number" id="portionsgroesse" name="portionsgroesse" value="{{ produkt.portionsgroesse }}">
                </div>
                <div>
                    <label for="kalorien_pro_portion">Kalorien pro Bowl:</label>
                    <input type="number" id="kalorien_pro_portion" name="kalorien_pro_portion" value="{{ produkt.kalorien_pro_portion }}">
                </div>

                @if(oberkategorie !== 'pasta')
                <div>
                    <label for="produkt_preis">Preis:</label>
                    <input type="text" id="produkt_preis" name="produkt_preis" value="{{ produkt.preis }}">
                </div>
                @endif

                <button type="submit">Speichern</button>
            </form>
        </div>
    </main> 

    <footer>
        @include('pages/partials/footer')
    </footer>  
    
</body>
</html>