<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/app.css">
</head>

<body>

    <header class="header">
        @include('pages/partials/header')
        <ul>
            <li><a href="/administratorbereich/pasta" class="inaktiv">PASTA-BOWLS</a></li>
            <li><a href="/administratorbereich/drinks" class="inaktiv">DRINKS</a></li>
            <li><a href="/administratorbereich/beilagen" class="aktiv">BEILAGEN</a></li>
        </ul>
    </header>

    <main>
        <div class="überschrift">
            <h1>BEILAGEN</h1>
        </div>

        <div class="salate">
            <h2 class="überschrift_auswahl">SALATE</h2>
                <div class="salate_auswahl">
                    @each (sorte in salate)
                        <div class="salate_sorten" data-id="{{ sorte.id }}">
                            <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                            <div class="auswahl">
                                <h4 class= "produkt_id">{{ sorte.id }}</h4>
                                <p class="produkt_preis">{{ sorte.preis }}</p>
                                <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/beilagen/{{sorte.id}}'">
                                    <span class="bearbeiten_button_text">Bearbeiten</span>
                                </button> 
                            </div>
                        </div>
                    @endeach
                </div>
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/beilagen/salat'">
                    <span class="hinzufügen_button_text">Salat hinzufügen</span>
                </button>
        </div>

        <div class="suppen">
            <h2 class="überschrift_auswahl">SUPPEN</h2>
                <div class="salate_auswahl">
                    @each (sorte in suppen)
                        <div class="suppen_sorten" data-id="{{ sorte.id }}">
                            <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                            <div class="auswahl">
                                <h4 class= "produkt_id">{{ sorte.id }}</h4>
                                <p class="produkt_preis">{{ sorte.preis }}</p>
                                <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/beilagen/{{sorte.id}}'">
                                    <span class="bearbeiten_button_text">Bearbeiten</span>
                                </button> 
                            </div>
                        </div>
                    @endeach
                </div>
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/beilagen/suppe'">
                    <span class="hinzufügen_button_text">Suppe hinzufügen</span>
                </button>
        </div>

    <footer>
       @include('pages/partials/footer')
    </footer>

</body>
</html>