<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo | Bestellübersicht </title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>
    <h1>Administratorbereich: Bestellungen</h1>

    <table>
        <thead>
            <tr>
                <th>Bestell-ID</th>
                <th>Kunden-ID</th>
                <th>Warenkorb</th>
            </tr>
        </thead>
        <tbody>
            @foreach(bestellung in bestellungen)
                <tr>
                    <td>{{ bestellung.id }}</td>
                    <td>{{ bestellung.kunde_id }}</td>
                    <td>
                        <div class="warenkorb">
                            @if(bestellung.warenkorb && bestellung.warenkorb.length > 0)
                                <ul>
                                    @foreach(bestellung.warenkorb as produkt)
                                        <li>
                                            <strong>Produkt:</strong> 
                                            @if(produkt.produkt.pasta_id)
                                                Pasta: {{ produkt.produkt.pasta_id }},
                                                Soße: {{ produkt.sosseName.sossen_id }},
                                                Toppings: {{ produkt.toppingNamenString }}
                                            @else
                                                {{ produkt.produkt }}
                                            @endif
                                            <br>
                                            <strong>Menge:</strong> {{ produkt.menge }}
                                        </li>
                                    @endeach
                                </ul>
                            @else
                                <p>Keine Produkte im Warenkorb.</p>
                            @endif
                        </div>
                    </td>
                </tr>
            @endeach
        </tbody>
    </table>
</body>
</html>
