<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
</head>

<body>

    <header class="header">
        @include('pages/partials/header')
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="nav_oben">
        <ul>
            <li><a href="/administratorbereich/pasta" class="inaktiv">PASTA-BOWLS</a></li>
            <li><a href="/administratorbereich/getraenke" class="inaktiv">DRINKS</a></li>
            <li><a href="/administratorbereich/beilagen" class="aktiv">BEILAGEN</a></li>
            <li><a href="/administratorbereich/logout" class="inaktiv">LOGOUT</a></li>

        </ul>
    </header>

    <main class="main">
        <div class="überschrift">
            <h1>BEILAGEN</h1>
        </div>

        <div class="salate">
            <h2 class="überschrift_auswahl">SALATE</h2>
            <div class="produkt_auswahl">
                @each (sorte in salate)
                    <div class="produkt_sorten" data-id="{{ sorte.id }}">
                        <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                        <div class="auswahl">
                            <h4 class= "produkt_id">{{ sorte.id }}</h4>
                            <p class="produkt_preis">{{ sorte.preis }}</p>
                            <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/beilagen/{{sorte.id}}'">
                                <span class="bearbeiten_button_text">Bearbeiten</span>
                            </button> 
                        </div>
                    </div>
                @endeach
            </div>
            <div class="hinzufügen_button_mittig">
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/beilagen/salat'">
                    <span class="hinzufügen_button_text">Salat hinzufügen</span>
                </button>
            </div>
        </div>

        <div class="suppen">
            <h2 class="überschrift_auswahl">SUPPEN</h2>
            <div class="produkt_auswahl">
                @each (sorte in suppen)
                    <div class="produkt_sorten" data-id="{{ sorte.id }}">
                        <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                        <div class="auswahl">
                            <h4 class= "produkt_id">{{ sorte.id }}</h4>
                            <p class="produkt_preis">{{ sorte.preis }}</p>
                            <button class="bearbeiten_button" onclick="window.location.href='/administratorbereich/bearbeiten/beilagen/{{sorte.id}}'">
                                <span class="bearbeiten_button_text">Bearbeiten</span>
                            </button> 
                        </div>
                    </div>
                @endeach
            </div>
            <div class="hinzufügen_button_mittig">
                <button class="hinzufügen_button" onclick="window.location.href='/administratorbereich/hinzufuegen/beilagen/suppe'">
                    <span class="hinzufügen_button_text">Suppe hinzufügen</span>
                </button>
            </div>
        </div>
    </main>

    <footer>
       @include('pages/partials/footer')
    </footer>

</body>
</html>