<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detailansicht</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>

<body>


    <main>
        <div class="product-details">
            <h1>{{ produkt.id }}</h1> <!-- Name des Produkts -->
            
            <div class="product-image">
                <img src="{{ produkt.bild }}" alt="{{ produkt.id }} Bild"> <!-- Bild des Produkts -->
            </div>
    
            <p>{{ produkt.beschreibung }}</p> <!-- Beschreibung des Produkts -->
            
            <form action="/updateProdukt" method="POST">
                {{csrfField()}}

                <div>
                    <label for="produkt_id">Name:</label>
                    <input type="text" id="produkt_id" name="produkt_id" value="{{ produkt.id }}" readonly>
                </div>
                <div>
                    <label for="produkt_bild">Produkt Bild URL:</label>
                    <input type="text" id="produkt_bild" name="produkt_bild" value="{{ produkt.bild }}">
                </div>
                <div>
                    <label for="produkt_beschreibung">Beschreibung:</label>
                    <textarea id="produkt_beschreibung" name="produkt_beschreibung">{{ produkt.beschreibung }}</textarea>
                </div>
                <div>
                    <label for="produkt_inhalte">Inhalte:</label>
                    <input type="text" id="produkt_inhalte" name="produkt_inhalte" value="{{ produkt.inhalte }}">
                </div>
                <div>
                    <label for="produkt_allergene">Allergene:</label>
                    <input type="text" id="produkt_allergene" name="produkt_allergene" value="{{ produkt.allergene }}">
                </div>
                <div>
                    <label for="produkt_ernährungsform">Ernährungsform:</label>
                    <input type="text" id="produkt_ernährungsform" name="produkt_ernährungsform" value="{{ produkt.ernährungsform }}">
                </div>
                <div>
                    <label for="produkt_kalorien_pro_100g">Kalorien pro 100 g:</label>
                    <input type="number" id="produkt_kalorien_pro_100g" name="produkt_kalorien_pro_100g" value="{{ produkt.kalorien_pro_100g }}">
                </div>
                <div>
                    <label for="menge_pro_bowl">Menge pro Bowl:</label>
                    <input type="number" id="menge_pro_bowl" name="menge_pro_bowl" value="{{ menge_pro_bowl }}">
                </div>
                <div>
                    <label for="kalorien_pro_bowl">Kalorien pro Bowl:</label>
                    <input type="number" id="kalorien_pro_bowl" name="kalorien_pro_bowl" value="{{ kalorien_pro_bowl }}">
                </div>
                <button type="submit">Speichern</button>
            </form>
        </div>
    </main> 

    <footer>
        @include('pages/partials/footer')
    </footer>  
    
</body>
</html>