<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dankeseite</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>
<body>
    <h1 class="überschrift">Danke für deine Bestellung!</h1>
    <p> Vielen Dank, dass du bei uns bestellt hast, deine Bestellung wird in Kürze bei dir sein!</p>
</body>
<footer>
    @include('pages/partials/footer')
    </footer>
</html>
