<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Datenschutz</title>
    <link rel="stylesheet" href="/resources/css/app.css"></head>

<body>

<header class="header"> 
    @include('pages/partials/header')
</header>

  <div class="datenschutz">
        <h1 class="page-title">Datenschutz</h1>
        
    <section> 
        <p>Hier stehen die Datenschutzrichtlinien.</p>
        <h2>1. Allgemeine Hinweise</h2>
        <p>
            Der Schutz Ihrer persönlichen Daten ist uns ein wichtiges Anliegen. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften.
        </p>
    </section>

    <section> 
        <h2>2. Erhebung und Speicherung personenbezogener Daten</h2>
        <p>
            Wir erheben personenbezogene Daten, wenn Sie ein Benutzerkonto erstellen oder Bestellungen aufgeben. Diese Daten werden nur zur Abwicklung der jeweiligen Anfragen und Bestellungen verwendet.
        </p>
    </section>
    <section> 
        <h2>3. Cookies</h2>
        <p>
            Unsere Website verwendet Cookies, um bestimmte Funktionen bereitzustellen und die Nutzererfahrung zu verbessern. Cookies sind kleine Textdateien, die auf Ihrem Endgerät gespeichert werden.
        </p>
    </section>
    <section> 
        <h2>4. Analyse-Tools</h2>
        <p>
            Zu Analysezwecken kann diese Seite Dienste wie Google Analytics nutzen, um Besucherstatistiken zu erstellen. Solche Dienste verwenden ebenfalls Cookies. Mehr Informationen hierzu finden Sie in den Datenschutzerklärungen der jeweiligen Dienste.
        </p>
    </section>
    <section> 
        <h2>5. Rechte der betroffenen Personen</h2>
        <p>
            Sie haben das Recht, jederzeit Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten zu erhalten, diese berichtigen, sperren oder löschen zu lassen.
        </p>
    </section>
    <section> 
        <h2>6. Kontakt</h2>
        <p>
            Bei Fragen zur Verarbeitung Ihrer Daten oder zum Datenschutz können Sie uns jederzeit unter folgender Adresse erreichen:<br>
            <strong>Kontakt:</strong><br>
            Hochschule der Medien<br>
            Nobelstr 10 1<br>
            70569 Stuttgart<br>
            E-Mail: jb298@hdm-stuttgart.de
        </p>
    </section>
  </div>

    <footer class="footer">
        @include('pages/partials/footer')
    </footer>

</body>