<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detailansicht</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>

    <header class="header">    
        @include('pages/partials/header')   
        @include ('pages/partials/navigation')
    </header>

    <main>
        <div class="product-details">
            <div class="produkt_details_header">
                <h1 class="details_überschrift">{{ produkt.id }}</h1> <!-- Name des Produkts -->
                <button class="zurück_button" onclick="window.history.back();">
                    <span class="zurück_button_text">Zurück</span>
                </button>   
            </div>
            <div class="product-image">
                <img src="{{ produkt.bild }}" alt="{{ produkt.id }} Bild"> <!-- Bild des Produkts -->
            </div>
    
            <p>{{ produkt.beschreibung }}</p> <!-- Beschreibung des Produkts -->
            
            <ul>
                <li><strong>Inhalte:</strong> {{ produkt.inhalte }}</li> <!-- Zutaten -->
                <li><strong>Allergene:</strong> {{ produkt.allergene }}</li> <!-- Allergene -->
                <li><strong>Ernährungsform:</strong> {{ produkt.ernaehrungsform }}</li> <!-- Ernährungsform -->
                <li><strong>Kalorien pro 100 g oder ml:</strong> {{ produkt.kalorien_pro_100me }} kcal</li> <!-- Kalorien pro 100g oder wenn Getränk ml -->
                <li><strong>Menge pro Bowl:</strong> {{ produkt.portionsgroesse }} g</li> <!-- Menge pro Bowl -->
                <li><strong>Kalorien pro Bowl:</strong> {{ produkt.kalorien_pro_portion }} kcal</li> <!-- Kalorien pro Bowl -->
            </ul>         
        </div>
    </main> 

    <footer>
        @include('pages/partials/footer')
    </footer>  
    
</body>
</html>