<!DOCTYPE html>
<html lang="de"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="resources/css/app.css">
    <link rel="icon" href="/storage/nudel.png" type="image/png">
</head>

<body>
    <header class="header">
        @include('pages/partials/header')
    </header>
    <main class="main">
        <div class="überschrift">
            <h1>Deine Favoriten:</h1>
        </div>

        @if(!kreationen)
        <div class="text">
            Du hast bisher keine Favoriten. Kreiere jetzt deine erste Pasta-Bowl!
         </div>
        @endif

       @each(kreation in kreationen)
       <p>{{ kreation.name }}</p>
    <form action="favoriten/update-name/{{ kreation.id }}" method="post" enctype="application/x-www-form-urlencoded">
        {{csrfField()}}
        <input type="text" name="name" placeholder="Neuer Name">
        <button type="submit">Namen ändern</button>    
    </form>
    <form action="/favoriten/entfernen/{{ kreation.id }}" method="post" enctype="application/x-www-form-urlencoded">
        {{csrfField()}}
        <button type="submit">Entfernen</button>
    </form>
       <p>{{ kreation.pasta_id }}</p>
       <p>{{ kreation.sossen_id }}</p>
       <p>{{ kreation.toppings }}</p>
       @endeach
    
        
        </div>

 
    </main>
    <footer>
        @include('pages/partials/footer')
    </footer>
</body>
</html>