<!DOCTYPE html>
<html lang="de"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>

<body>
    <header class="header">
        @include('pages/partials/header')
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="nav_oben">
            <ul>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="überschrift">
            <h1>Deine Favoriten:</h1>
        </div>

        @if(!kreationen)
        <div class="text">
            Du hast bisher keine Favoriten. Kreiere jetzt deine erste Pasta-Bowl!
         </div>
        @endif

       @each(kreation in kreationen)
       <p>{{ kreation.name }}</p>
       <p>{{ kreation.pasta_id }}</p>
       <p>{{ kreation.sossen_id }}</p>
       <p>{{ kreation.toppings }}</p>
       @endeach
    
        
        </div>

 
    </main>

    <footer>
        @include('pages/partials/footer')
    </footer>

</body>
</html>