<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Impressum</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <header class="header"> 
        @include('pages/partials/header')
    </header>

    <h1>Impressum</h1>
  
    
    <section>
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
            Hochschule der Medien<br>
            Nobelstr 10<br>
            70569 Stuttgart<br>
        </p>

        <h2>Vertreten durch:</h2>
        <p>Sarah Grötzinger, Lisa Lech, Evelyn Fischer & Jule Bürkle</p>

        <h2>Kontakt:</h2>
        <p>
            E-Mail: jb298@hdm-stuttgart.de<br>
        </p>

        <h2>Haftungsausschluss:</h2>
        <p>
            Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. 
        </p>
    </section>

    <footer class="footer">
        @include('pages/partials/footer')
    </footer>

</body>