<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
  <link rel="stylesheet" href="resources/css/app.css">
  <link rel="icon" href="/storage/nudel.png" type="image/png">
  <title>Bowlissimo | Kasse</title>
</head>
<body>

  <header class="header">
    @include('pages/partials/header')
   </header>

  <main class="main">
 
    <!-- Wenn der Kunde momentan nicht angemeldet ist --> 
      @if(angemeldet == false) 
    <div class="kasse-buttons">
      <button onclick="window.location.href='/login'">Ich habe schon ein Konto </button>
      <button onclick="window.location.href='/register'"> Ich möchte mir ein Konto erstellen </button>
    </div>

    <h3 class="gast-bestellen-text">Als Gast bestellen</h3>
    <form action="/bestellen_als_gast" method="post" enctype= "application/x-www-form-urlencoded" class="login_form">
      {{csrfField()}}


      <label for ="vorname" class="login_überschrift">Vorame:</label>
      <input type="text" id="vorname" name="vorname" required>

      <label for ="nachname" class="login_überschrift">Nachname:</label>
      <input type="text" id="nachname" name="nachname" required>

      <label for="strasse_nr" class="login_überschrift"> Straße und Hausnummer: </label>
      <input type="text" id="strasse_nr" name="strasse_nr" required>

      <label for="postleitzahl" class="login_überschrift">Postleitzahl:</label>
      <input type="integer" id="postleitzahl" name="postleitzahl" required>

      <label for="stadt" class="login_überschrift">Stadt:</label>
      <input type="text" id="stadt" name="stadt" required>

      <label for="bezahlart" class="login_überschrift">Bezahlart:</label>
      <select id="bezahlart" name="bezahlart" required>
        <option value="kreditkarte">Kreditkarte</option>
        <option value="paypal">PayPal</option>
        <option value="bar">Bar</option>
      </select>

      <label for="email" class="login_überschrift">E-Mail:</label>
      <input type="email" id="email" name="email" required>
    <div class="kasse-buttons">
      <button type="submit">Kostenpflichtig bestellen</button>
    </div>
  </form>
    @endif

    <!-- Wenn der Kunde momentan angemeldet ist, soll Formular vorausgefüllt sein --> 
    @if(angemeldet == true)
    <h3> Hallo {{kunde.kunden_id}}, Du kannst deine Daten anpassen und wir speichern sie für dich. </h3>
    <form action="/bestellen/{{kunde.kunden_id}}" method="post" enctype="application/x-www-form-urlencoded" class="login_form">
        {{csrfField()}}
      
      <label for="vorname" class="login_überschrift">Vorname:</label>
      <input type="text" id="vorname" name="vorname" value="{{kunde.kunden_id}}" required>

      <label for="nachname" class="login_überschrift">Nachname:</label>
      <input type="text" id="nachname" name="nachname" value="{{kunde.nachname}}" required>

      <label for="strasse_nr" class="login_überschrift">Straße und Hausnummer:</label>
      <input type="text" id="strasse_nr" name="strasse_nr" value="{{kunde.strasse_nr}}" required>

      <label for="postleitzahl" class="login_überschrift">Postleitzahl:</label>
      <input type="integer" id="postleitzahl" name="postleitzahl" value="{{kunde.postleitzahl}}" required>

      <label for="stadt" class="login_überschrift">Stadt:</label>
      <input type="text" id="stadt" name="stadt" value="{{kunde.stadt}}" required>

      <label for="bezahlart" class="login_überschrift">Bezahlart:</label>
      <select id="bezahlart" name="bezahlart" required>
        <option value="kreditkarte" {{kunde.bezahlart == 'kreditkarte' ? 'selected' : ''}}>Kreditkarte</option>
        <option value="paypal" {{kunde.bezahlart == 'paypal' ? 'selected' : ''}}>PayPal</option>
        <option value="bar" {{kunde.bezahlart == 'bar' ? 'selected' : ''}}>Bar</option>
      </select>

      <label for="email" class="login_überschrift">E-Mail:</label>
      <input type="email" id="email" name="email" value="{{kunde.mail}}" required>
    <div class="kasse-buttons">
      <button type="submit">Kostenpflichtig bestellen</button>
    </div>
  </form>
    @endif
    <div class="zurück_button_container" onclick="window.history.back();" style="margin-bottom: 30px;">
      <button class="zurück_button">
          <img class="zurück_button_pfeil" src="/storage/pfeil_gelb.png" alt="Ein gelber Pfeil, der nach links zeigt.">
          <span class="zurück_button_text">Zurück</span>
      </button>
    </div> 
  </main>
</body>

<footer>
@include('pages/partials/footer')
</footer>

</html>