<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/app.css">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    {{csrfField()}}
    <label for="username">Nutzername:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Einloggen</button>
  </form>
  <p>Noch kein Konto? <a href="/register">Registrieren</a></p>
</body>
</html>
