<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/app.css">
  <title>Login</title>
</head>
<body>

  <header class="header">
   @include('pages/partials/header')
  </header>

  <main class="main">
    <h1 class="überschrift">Login</h1>
    <button class="zurück_button" onclick="window.history.back();">
      <span class="zurück_button_text">Zurück</span>
    </button>   

    @if (error != undefined)
      Fehler: {{ error }}
    @endif

      <form action="/login" method="post" enctype="application/x-www-form-urlencoded" class="login_form">
        {{csrfField()}}
        <label for="nutzername" class="login_überschrift">Nutzername:</label>
        <input type="text" id="nutzername" name="nutzername" required>
    
        <label for="passwort" class="login_überschrift">Passwort:</label>
        <input type="password" id="passwort" name="passwort" required>
    
        <button type="submit" class="einloggen_button">Einloggen</button>
      </form>
      <p class="keinkonto_text">Noch kein Konto? <a href="/register" class="registrieren_button">Registrieren</a></p>
  </main>
</body>

<footer>
  @include('pages/partials/footer')
</footer>

</html>
