<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/app.css">
  <title>Registrieren</title>
</head>

<body>
  <header class="header">
    @include('pages/partials/header')
  </header>

  <main class="main">
    <h1 class="überschrift">Registrieren</h1>
    <p class="registrieren_text"> Bitte füllen Sie folgende Felder aus, um ein Konto zu erstellen. Die Daten können später noch geändert werden.</p>
    <button class="zurück_button" onclick="window.history.back();">
      <span class="zurück_button_text">Zurück</span>
    </button>   

    @if (error != null)
    <p> Fehler: {{ error }} <p>
    @endif

    <form action="/register" method="post" enctype= "application/x-www-form-urlencoded" class="login_form">
      {{csrfField()}}

      <label for="nutzername" class="login_überschrift">Nutzername:</label>
      <input type="text" id="nutzername" name="nutzername" required>
    
      <label for="passwort" class="login_überschrift">Passwort:</label>
      <input type="password" id="passwort" name="passwort" required>

      <label for ="vorname" class="login_überschrift">Vorame:</label>
      <input type="text" id="vorname" name="vorname" required>

      <label for ="nachname" class="login_überschrift">Nachname:</label>
      <input type="text" id="nachname" name="nachname" required>

      <label for="strasse_nr" class="login_überschrift"> Straße und Hausnummer: </label>
      <input type="text" id="strasse_nr" name="strasse_nr" required>

      <label for="postleitzahl" class="login_überschrift">Postleitzahl:</label>
      <input type="integer" id="postleitzahl" name="postleitzahl" required>

      <label for="stadt" class="login_überschrift">Stadt:</label>
      <input type="text" id="stadt" name="stadt" required>

      <label for="bezahlart" class="login_überschrift">Bezahlart:</label>
      <select id="bezahlart" name="bezahlart" required>
        <option value="kreditkarte">Kreditkarte</option>
        <option value="paypal">PayPal</option>
        <option value="bar">Bar</option>
      </select>

      <label for="email" class="login_überschrift">E-Mail:</label>
      <input type="email" id="email" name="email" required>
    
      <button type="submit">Registrieren</button>
    </form>
    <p class="registrieren_text" id="schon_ein_konto">Schon ein Konto? <a href="/login" class="einloggen_button">Einloggen</a></p>
  </main>
</body>

<footer>
  @include('pages/partials/footer')
</footer>


</html>
