<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>

<body>

    <header class="header">
        @include('pages/partials/header')
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="nav_oben">
            <ul>
                <li><a href="/startseite_pasta" class="inaktiv">PASTA-BOWLS</a></li>
                <li><a href="/startseite_drinks" class="aktiv">DRINKS</a></li>
                <li><a href="/startseite_beilagen" class="inaktiv">BEILAGEN</a></li>
                <li><a href="/login" class="inaktiv">
                    <img src="/storage/profil.png" alt="Logo" style="width: 40px; height: 40px;">
                </a></li>   
                <li><a href="/warenkorb" class="inaktiv" id="warenkorb-button">Warenkorb (0)</a></li> <!-- 0 ist die Platzhalteranzahl, die später dynamisch geändert werden kann -->
            </ul>
        </nav>        
    </header>

    <main class="main">
        <div class="überschrift">
            <h1>GETRÄNKE</h1>
        </div>
        <div class="erfrischungsgetränke">
            <h2 class="überschrift_auswahl">ERFRISCHUNGSGETRÄNKE</h2>
            <div class="produkt_auswahl">
                @each (sorte in erfrischungsgetränke)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <button class="auswahl_button" onclick="window.location.href='/warenkorb/hinzufuegen/{{sorte.id}}'">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro">€</p>
                        <button class="details_button" onclick="window.location.href='/details/getraenke/{{ sorte.id }}'">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                </div>
            @endeach
        </div>


        <div class="smoothies">
            <h2 class="überschrift_auswahl">SMOOTHIES</h2>
            <div class="produkt_auswahl">
                @each (sorte in smoothies)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <button class="auswahl_button" onclick="window.location.href='/warenkorb/hinzufuegen/{{sorte.id}}'">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4 class= "produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro">€</p>
                        <button class="details_button" onclick="window.location.href='/details/getraenke/{{ sorte.id }}'">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                </div>
            @endeach
            </div>
        </div>

        

        <div class="alkoholfreie_cocktails">
            <h2 class="überschrift_auswahl">ALKOHOLFREIE COCKTAILS</h2>
            <div class="produkt_auswahl">
                @each (sorte in alkoholfreie_getränke)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <button class="auswahl_button" onclick="window.location.href='/warenkorb/hinzufuegen/{{sorte.id}}'">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                        <button class="details_button" onclick="window.location.href='/details/getraenke/{{ sorte.id }}'">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                </div> 
                @endeach
            </div>
        </div>

    </main>

    <footer>
        @include('pages/partials/footer')
    </footer>

    <script>
        function addToCart(productId) {
            console.log(productId + " wurde zum Warenkorb hinzugefügt!");
        }
    </script>

</body>
</html>