<!DOCTYPE html>
<html lang="de"> <!-- Sprache der Seite über all auf deutsch! -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo</title>
    <link rel="stylesheet" href="resources/css/app.css">
</head>

<body>

    <header class="header">
        @include('pages/partials/header')
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="nav_oben">
            <ul>
                <li><a href="/" class="aktiv">PASTA-BOWLS</a></li>
                <li><a href="/startseite_drinks" class="inaktiv">DRINKS</a></li>
                <li><a href="/startseite_beilagen" class="inaktiv">BEILAGEN</a></li>
                <li><a href="/login" class="inaktiv">
                    <img src="/storage/profil.png" alt="Logo" style="width: 40px; height: 40px;">
                </a></li>   
                <li><a href="/warenkorb" class="inaktiv" id="warenkorb-button">Warenkorb (0)</a></li> <!-- 0 ist die Platzhalteranzahl, die später dynamisch geändert werden kann -->
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="überschrift">
            <h1>CREATE YOUR OWN PASTA</h1>
            <h2 class="überschrift_zusatz">- BASISPREIS: 5,99€</h2>
        </div>
        <div class="pasta">
            <h2 class="überschrift_auswahl">NUDELN</h2>
            <h3 class="überschrift_zusatz">- WÄHLE DEINE LIEBLINGSPASTA</h3>
            <div class="produkt_auswahl">

                @each (sorte in pasta)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                    <!-- width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist. -->
                    <div class="auswahl">
                        <form action="/neue_kreation" method="post" enctype="application/x-www-form-urlencoded">
                           {{csrfField()}}
                           <input type="hidden" name="nudelsorte" value="{{ sorte.id }}">
                           <button class="auswahl_button" type="submit" >Auswählen</button>
                        </form>
                        <h4 class= "produkt_id">{{ sorte.id }}</h4>
                        <button class="details_button" onclick="window.location.href= 'details/pasta/{{sorte.id}}'"> 
                            <span class="details_text">Details</span>
                        </button>
                    </div>
                </div>
                @endeach

            </div>
        </div>

        <div class="soßen">
            <h2 class="überschrift_auswahl">SOẞEN</h2>
            <h3 class="überschrift_zusatz">- WÄHLE EINE SOẞE DAZU</h3>
            <div class="produkt_auswahl">

                @each (sorte in soßen)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <form action="/update_kreatio_sosse" method="post" enctype="application/x-www-form-urlencoded">
                            {{csrfField()}}
                            <input type="hidden" name="sossensorte" value="{{ sorte.id }}">
                            <button class="auswahl_button" type="submit" >Auswählen</button>
                         </form>
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                        <button class="details_button" onclick="window.location.href= `/details/saucen/{{ sorte.id }}`"> 
                            <span class="details_text">Details</span>
                        </button>
                    </div>
                </div>
                @endeach
            </div>
        </div>

        <div class="toppings">
            <h2 class="überschrift_auswahl">TOPPINGS</h2>
            <h3 class="überschrift_zusatz">- WÄHLE SO VIEL TOPPINGS WIE DU WILLST DAZU</h3>
            <div class="produkt_auswahl">
                @each (sorte in toppings)
                <div class="produkt_sorten" data-id="{{ sorte.id }}">
                    <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <form action="/update_kreation_toppings" method="post" enctype="application/x-www-form-urlencoded">
                            {{csrfField()}}
                            <input type="hidden" name="toppingsorte" value="{{ sorte.id }}">
                            <button class="auswahl_button" type="submit" >Auswählen/ Löschen</button>
                         </form>
                        <h4 class="produkt_id">{{ sorte.id }}</h4>
                        <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                        <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                        <button class="details_button" onclick="window.location.href='details/toppings/{{sorte.id}}'">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                </div>
                @endeach
            </div>
        </div>

        <div class="deine_kreation">
            <h2 class="überschrift">DEINE KREATION</h2>
            <div class="deine_kreation_bilder"> 
            @if (!aktuelle_pasta)
                <h3 class="überschrift_zusatz">-WÄHLE DEINE LIEBLINGSPASTA</h3>
            @endif
            @if (aktuelle_pasta) 
                <h3 class="überschrift_zusatz">-WOW, SIEHT DAS LECKER AUS</h3>
                <div class="favoriten_button">
                    <button id="zum_warenkorb_hinzufügen" >
                        <span id="zum_warenkorb_hinzufügen_text">ZUM WARENKORB HINZUFÜGEN</span>
                </div>
                <img src="{{aktuelle_pasta.bild}}" alt="{{ aktuelle_pasta.id }}" longdesc="Ein Bild von {{ aktuelle_pasta.id }} in Herzform." width="100" height="100">
            @endif
            @if (aktuelle_soße)
            <img src="{{aktuelle_soße.bild}}" alt="{{ aktuelle_soße.id }}" longdesc="Ein Bild von {{ aktuelle_soße.id }} in Herzform." width="100" height="100">
            @endif
            @if (aktuelle_toppings)
                @each (sorte in aktuelle_toppings)
                <img src="{{sorte.bild}}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="100" height="100">
                @endeach
            @endif
            </div>
        </div>
    </main>

    <footer>
        @include('pages/partials/footer')
    </footer>

</body>
</html>