<!DOCTYPE html>
<html lang="de"> <!-- Sprache der Seite über all auf deutsch! -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bowlissimo</title>
    <link rel="stylesheet" href="https://use.typekit.net/nvm4puz.css">
    <link rel="stylesheet" href="resources/css/app.css">
    
</head>

<body>
    <header class="header">
         
    <!--Pop-up für Städte-->
    <div id="location-popup" class="popup hidden">
        <div class="popup-content">
          <h2>Wo willst du essen?</h2>
          <form id="location-form">
            <label for="city-select">Stadt</label>
            <select id="city-select" name="city" required>
              <option value="" disabled selected>Wähle deine Stadt</option>
                @each (city in cities)
                <option value="{{ city.City }}">{{ city.City }} </option>
                @endeach
            </select> 
      
            <label for="zipcode">Postleitzahl</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="Deine PLZ" required pattern="\d{5}" readonly />
      
            <button type="submit" class="btn_revert">Bestätigen</button>
          </form>
        </div>
    </div>
    <div class="popup-overlay"></div>
 

        @include('pages/partials/header')
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="nav_oben_ohne_log">
            <ul>
                <li><a href="/" class="aktiv">PASTA-BOWLS</a></li>
                <li><a href="/startseite_drinks" class="inaktiv">DRINKS</a></li>
                <li><a href="/startseite_beilagen" class="inaktiv">BEILAGEN</a></li>
                
                @if(!kundeAngemeldet)
                <li><a href="/login" class="inaktiv">
                    <img src="/storage/profil.png" alt="Logo" style="width: 35px; height: 35px;">
                </a></li>   
                @endif

                @if(kundeAngemeldet)
                <a href="/favoriten" class="inaktiv">
                    <img src="/storage/herz.png" alt="Logo" style="width: 25px; height: 25px;">
                </a>

                <li><a href="/logout" class="inaktiv">Logout</a></li>
                @endif
                  
                <li><a href="/warenkorb" class="inaktiv" id="warenkorb-button">Warenkorb ({{anzahl_warenkorb}})</a></li> <!-- 0 ist die Platzhalteranzahl, die später dynamisch geändert werden kann -->
            </ul>
        </nav>
    </header>

    <main class="main_startseitepasta">
        <div class="produkt_darstellung">
            <div class="überschrift">
                <h1>CREATE YOUR OWN PASTA</h1>
                <h2 class="überschrift_zusatz">- BASISPREIS: 5,99€</h2>
            </div>
            <div class="pasta">
                <h2 class="überschrift_auswahl">NUDELN</h2>
                <h3 class="überschrift_zusatz">- WÄHLE DEINE LIEBLINGSPASTA</h3>
                <div class="produkt_auswahl">

                    @each (sorte in pasta)
                    <div class="produkt_sorten" data-id="{{ sorte.id.replace('ae', 'ä').replace('oe', 'ö').replace('ue', 'ü') }}">
                    <div class="produkt_sorten" data-id="{{ sorte.id }}">
                        <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200"> 
                        <!-- width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist. -->
                        <div class="auswahl">
                            <form action="/neue_kreation" method="post" enctype="application/x-www-form-urlencoded">
                                {{csrfField()}}
                                <input type="hidden" name="nudelsorte" value="{{ sorte.id }}">
                                <button class="auswahl_button" type="submit" >Auswählen</button>
                            </form>
                            <h4 class= "produkt_id">{{ sorte.id }}</h4>
                            <button class="details_button" onclick="window.location.href= 'details/pasta/{{sorte.id}}'"> 
                                <span class="details_text">Details</span>
                            </button>
                        </div>
                    </div>
                    @endeach

                </div>
            </div>

            <div class="soßen">
                <h2 class="überschrift_auswahl">SOẞEN</h2>
                <h3 class="überschrift_zusatz">- WÄHLE EINE SOẞE DAZU</h3>
                <div class="produkt_auswahl">

                    @each (sorte in soßen)
                    <div class="produkt_sorten" data-id="{{ sorte.id }}">
                        <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                        <div class="auswahl">
                            <form action="/update_kreatio_sosse" method="post" enctype="application/x-www-form-urlencoded">
                                {{csrfField()}}
                                <input type="hidden" name="sossensorte" value="{{ sorte.id }}">
                                <button class="auswahl_button" type="submit" >Auswählen</button>
                            </form>
                            <h4 class="produkt_id">{{ sorte.id }}</h4>
                            <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                            <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                            <button class="details_button" onclick="window.location.href= `/details/saucen/{{ sorte.id }}`"> 
                                <span class="details_text">Details</span>
                            </button>
                        </div>
                    </div>
                    @endeach
                </div>
            </div>

            <div class="toppings">
                <h2 class="überschrift_auswahl">TOPPINGS</h2>
                <h3 class="überschrift_zusatz">- WÄHLE SO VIEL TOPPINGS WIE DU WILLST DAZU</h3>
                <div class="produkt_auswahl">
                    @each (sorte in toppings)
                    <div class="produkt_sorten" data-id="{{ sorte.id.replace('ae', 'ä').replace('oe', 'ö').replace('ue', 'ü') }}">
                    <div class="produkt_sorten" data-id="{{ sorte.id }}">
                        <img src="{{ sorte.bild }}" alt="{{ sorte.id }}" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="200" height="200">
                        <div class="auswahl">
                            @if(aktuelle_toppings_ids && aktuelle_toppings_ids.includes(sorte.id))
                            <form action="/update_kreation_toppings" method="post" enctype="application/x-www-form-urlencoded">
                                {{csrfField()}}
                                <input type="hidden" name="toppingsorte" value="{{ sorte.id }}">
                                <button class="auswahl_button"  type="submit"> Löschen </button>
                            </form>
                            @else
                            <form action="/update_kreation_toppings" method="post" enctype="application/x-www-form-urlencoded">
                                {{csrfField()}}
                                <input type="hidden" name="toppingsorte" value="{{ sorte.id }}">
                                <button class="auswahl_button" type="submit">Auswählen</button>
                            </form>
                            @endif
                            <h4 class="produkt_id">{{ sorte.id }}</h4>
                            <p class="produkt_preis" data-preis="{{ sorte.preis }}">{{ sorte.preis }}</p>
                            <p class="produkt_preis_euro" data-preis="{{ sorte.preis }}">€</p>
                            <button class="details_button" onclick="window.location.href='details/toppings/{{sorte.id}}'">
                                <span class="details_button_text">Details</span>
                            </button>
                        </div>
                    </div>
                    @endeach
                </div>
            </div>
        </div>

        <div class="warenkorb_hellgrün">
            <script src="/resources/js/kreation.js" defer></script>
            <div class="deine_kreation">

 

                <h2 class="warenkorbhellgrün_überschrift">DEINE KREATION</h2>
                @if (!aktuelle_pasta)
                    <h3 class="warenkorbhellgrün_überschrift_zusatz">-WÄHLE DEINE LIEBLINGSPASTA</h3>
                @endif
                @if (aktuelle_pasta) 
                    <h3 class="warenkorbhellgrün_überschrift_zusatz">-WOW, SIEHT DAS LECKER AUS</h3>
                <div class="deine_kreation_bilder"> 
                    <div class="kreation_pasta">
                        <img src="{{aktuelle_pasta.bild}}" alt="{{ aktuelle_pasta.id }}" class="kreation_pasta_bild" longdesc="Ein Bild von {{ aktuelle_pasta.id }} in Herzform." width="100" height="100">
                    </div>
                @endif
                @if (aktuelle_soße)
                <div class="kreation_soße">
                    <img src="{{aktuelle_soße.bild}}" alt="{{ aktuelle_soße.id }}" class="kreation_soße_bild" longdesc="Ein Bild von {{ aktuelle_soße.id }} in Herzform." width="100" height="100">
                </div>
                @endif
                <div class="kreation_toppings_wrapper">
                    @if (aktuelle_toppings)
                        @each (sorte in aktuelle_toppings)
                        <div class="kreation_toppings">
                            <img src="{{sorte.bild}}" alt="{{ sorte.id }}" class="kreation_toppings_bild" longdesc="Ein Bild von {{ sorte.id }} in Herzform." width="100" height="100">
                        </div>
                    @endeach
                </div>
                @endif
                </div>
                <!--Favoriten Button nur anzeigen, wenn Kunde angemeldet ist und eine Kreation mit Pasta und Soße ausgewählt-->
                @if(kundeAngemeldet && aktuelle_soße)
                <div class="favoriten_button">
                    <button id="favoriten" onclick="window.location.href='/favoriten/hinzufuegen/{{ aktuelle_kreation.id }}'">
                        <span id="favoriten_text">Zu FAVORITEN HINZUFÜGEN </span>
                @endif       
                <!--Warenkorb Button nur anzeigen, wenn Kunde eine Kreation mit Pasta und Soße ausgewählt-->
                @if (aktuelle_soße)
                <button id="zum_warenkorb_hinzufügen" onclick="window.location.href='/warenkorb/hinzufuegen/kreation/{{ aktuelle_kreation.id }}'">
                    <span id="zum_warenkorb_hinzufügen_text">ZUM WARENKORB HINZUFÜGEN</span>
                </button>
                @endif
                @if (aktuelle_kreation && !aktuelle_soße)
                    <p>Wähle noch eine Soße</p>
                @endif
                @if (!aktuelle_kreation)
                    <p>Keine Kreation ausgewählt</p>
                @endif
                </div>
           </div>
        </div>
    </main>

    <footer>
        @include('pages/partials/footer')
    </footer>


    <script>
        // Elemente selektieren
        const popup = document.getElementById('location-popup');
        const overlay = document.querySelector('.popup-overlay');

        // Funktion: Pop-up öffnen
        function openPopup() {
        popup.classList.add('visible'); // Pop-up sichtbar machen
        overlay.classList.add('visible'); // Overlay sichtbar machen
        document.body.classList.add('blurred'); // Hintergrund verschwommen machen
        }
        document.addEventListener("DOMContentLoaded", () => {
  const citySelect = document.getElementById("city-select");
  const zipcodeInput = document.getElementById("zipcode");
          // Event-Listener für die Auswahl im Dropdown
  citySelect.addEventListener("change", (event) => {
    const selectedOption = event.target.options[event.target.selectedIndex];
    const selectedValue = selectedOption.value; // Postleitzahl als Wert
    citySelect.value = selectedValue; // PLZ ins Input-Feld setzen
  });
});
  
        // Funktion: Pop-up schließen
        function closePopup() {
        popup.classList.remove('visible'); // Pop-up ausblenden
        overlay.classList.remove('visible'); // Overlay ausblenden
        document.body.classList.remove('blurred'); // Hintergrund normal
        }

        // Beispiel: Pop-up automatisch nach 2 Sekunden öffnen
        setTimeout(openPopup, 2000);

        // Pop-up schließen, wenn Overlay geklickt wird
        overlay.addEventListener('click', closePopup);

    </script>
</body>
</html>