<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warenkorb</title>
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
    
    <h1>Warenkorb</h1>

        @if (ausgewaehlte_produkte)
            @each (produkt in ausgewaehlte_produkte)
                <div class="produkt">
                    @if (typeof produkt.produkt === 'number')
                        <h2>Pasta-Bowl</h2>
                    @else
                        <h2>{{ produkt.produkt }}</h2>
                    @endif
                    <!--Preis anzeigen auf 2 Nachkommastellen gerundet-->
                    <p>  {{ (produkt.preis * produkt.menge).toFixed(2) }} €</p>

                    <div class="menge-steuerung">
                        <form action="/warenkorb/menge/verringern/{{ produkt.produkt }}" method="post" enctype="application/x-www-form-urlencoded">
                            {{ csrfField() }}
                            <button type="submit" class="minus-button">-</button>
                        </form>
                        <span class="menge">{{ produkt.menge }}</span>
                        <form action="/warenkorb/menge/erhoehen/{{ produkt.produkt }}" method="post" enctype="application/x-www-form-urlencoded">
                            {{ csrfField() }}
                            <button type="submit" class="plus-button">+</button>
                        </form>
                    </div>
                       <!-- Entfernen-Button -->
                         <form action="/warenkorb/entfernen/{{ produkt.produkt }}" method="post" enctype="application/x-www-form-urlencoded">
                             {{ csrfField() }}
                            <button type="submit" class="entfernen-button">Entfernen</button>
                        </form>
                    </div>
                    
            @endeach
            <p>Gesamtpreis: {{ gesamtpreis }} €</p>
    @else
        <p>Dein Warenkorb ist leer. <a href="/">Zurück zum Shop</a></p>
    @endif

    <footer>
        @include('pages/partials/footer')
    </footer>


</body>
</html>
