<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="">
        </div>
        <nav>
            <ul>
                <li><a href="/startseite1" class="aktiv">PASTA-BOWLS</a></li>
                <li><a href="/startseite_drinks" class="inaktiv">DRINKS</a></li>
                <li><a href="/startseite_beilagen" class="inaktiv">BEILAGEN</a></li>
            </ul>
        </nav>        
    </header>
    <main class="main">
        <div class="überschrift">
            <h1>CREATE YOUR OWN PASTA</h1>
            <h2 class="überschrift_zusatz">- BASISPREIS: 5,99€</h2>
        </div>
        <div class="pasta">
            <h2 class="überschrift_auswahl">NUDELN</h2>
            <h3 class="überschrift_zusatz">- WÄHLE DEINE LIEBLINGSPASTA</h3>
            <div class="pasta_auswahl">

                @each (nudel in pasta)
                <div class="pasta_sorten" data-id="{{ nudel_id }}">
                    <img src="{{ nudel.bild }}" alt="{{ nudel_id }}" longdesc="Ein Bild von {{ nudel_id }} in Herzform." width="200" height="200"> 
                    <!-- width und height bei allen Bildern einbauen, da der Browser den Platz dann freihält, auch wenn das Bild noch nicht geladen ist. -->
                    <div class="auswahl">
                        <button class="auswahl_button">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4 class= "produkt_id">{{ nudel_id }}</h4>
                        <button class="details">
                            <span class="details_text">Details</span>
                        </button>
                    </div>
                </div>
            @endeach
            
            </div>
        </div>

        <div class="soßen">
            <h2 class="überschrift_auswahl">SOẞEN</h2>
            <h3 class="überschrift_zusatz">- WÄHLE EINE SOẞE DAZU</h3>
            <div class="soßen_auswahl">

                @each (soßen in soße)
                <div class="soßen_sorten" data-id="{{ soßen_id }}">
                    <img src="{{ soßen_bild }}" alt="{{ soßen_id }}" longdesc="Ein Bild von {{ soßen_id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <button class="auswahl_button">
                            <span class="auswahl_button_text">Auswählen</span>
                        </button>
                        <h4 class="produkt_id">{{ soßen_id }}</h4>
                        <p class="produkt_preis">{{ preis }}</p>
                        <button class="details_button">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                </div>
                @endeach
            </div>
        </div>

        <div class="toppings">
            <h2 class="überschrift_auswahl">TOPPINGS</h2>
            <h3 class="überschrift_zusatz">- WÄHLE SO VIEL DU MÖCHTEST</h3>
            <div class="toppings_auswahl">

                @each (topping in toppings)
                <div class="toppings_produkte" data-id="{{ topping_id }}">
                    <img src="{{ topping_bild }}" alt="{{ topping_id }}" longdesc="Ein Bild von {{ topping_id }} in Herzform." width="200" height="200">
                    <div class="auswahl">
                        <button class="auswahl_button">
                            <span class="details_button_text">Auswählen</span>
                        </button>
                        <h4 class="produkt_id">{{ topping_id }}</h4>
                        <h5 class="produkt_preis">{{ preis }}</h5>
                        <button class="details_button">
                            <span class="details_button_text">Details</span>
                        </button>
                    </div>
                @endeach
                </div>
            </div>
        </div> 

        <div class="deine_kreation">
            <h2 class="überschrift">DEINE KREATION</h2>
            <h3 class="überschrift_zusatz">-WOW, SIEHT DAS LECKER AUS</h3>
            <div class="deine_kreation_bilder">
            </div>
        </div>

        <div class="favoriten_button">
            <button id="zu_favoriten_hinzufügen">
                <span id="zu_favoriten_hinzufügen_text">ZU FAVORITEN HINZUFÜGEN</span>
            </button>
        </div>
    </main>
    <footer>
        <button class="footer_button" id="impressum_button">
            <span class="footer_text" id="impressum_button_text">IMPRESSUM</span>
        </button>
        <button class="footer_button" id="datenschutz_button">
            <span class="footer_text" id="datenschutz_button_text">DATENSCHUTZ</span>
        </button>
    </footer>
</body>
</html>